body {
    background-color: black;
    margin: 0;
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    width: 981px;
    height: 700px;
    background-color: #A6A6A6;
    margin: auto;
    position: relative;
}

.pavement1,
.pavement2,
.pavement3,
.pavement4 {
    position: absolute;
    width: 420px;
    height: 281px;
    background-color: #F7F2EF;
}


.pavement1 {
    top: 0;
    left: 0;
    border-radius: 0 0 30px 0;
}

.pavement2 {
    top: 0;
    right: 0;
    border-radius: 0 0 0 30px;
}

.pavement3 {
    bottom: 0;
    left: 0;
    border-radius: 0 30px 0 0;
}

.pavement4 {
    bottom: 0;
    right: 0;
    border-radius: 30px 0 0 0;
}

.structure-foundation1,
.structure-foundation2,
.structure-foundation3,
.structure-foundation4 {
    position: absolute;
    width: 388px;
    height: 249px;
    background-color: #D9D9D9;
}

.structure-foundation1 {
    border-radius: 0 0 15px 0;
    top: 0;
    left: 0;
}

.structure-foundation1 .parked-vehicle1,
.structure-foundation1 .parked-vehicle2 {
    position: absolute;
}

.structure-foundation1 .building1,
.structure-foundation1 .building2,
.structure-foundation1 .building3,
.structure-foundation1 .building4 {
    position: absolute;
    background-color: #854A4A;
}

.structure-foundation1 .tree1,
.structure-foundation1 .tree2,
.structure-foundation1 .tree3,
.structure-foundation1 .tree4,
.structure-foundation1 .tree5,
.structure-foundation1 .tree6 {
    position: absolute;
    background-color: #7ECB6B;
    height: 34px;
    width: 34px;
    border-radius: 50%;
}

.structure-foundation1 .roof1,
.structure-foundation1 .roof2,
.structure-foundation1 .roof3,
.structure-foundation1 .roof4,
.structure-foundation1 .roof5,
.structure-foundation1 .roof6,
.structure-foundation1 .roof7,
.structure-foundation1 .roof8,
.structure-foundation1 .roof9 {
    position: absolute;
    background-color: #A15757;
    z-index: 5;
}

.structure-foundation1 .parked-vehicle1 img {
    position: absolute;
    top: 29px;
    height: 74px;
    left: 106px;
}

.structure-foundation1 .parked-vehicle2 img {
    position: absolute;
    top: 195px;
    left: 72px;
    height: 50px;
    transform: rotate(180deg);
}

.structure-foundation1 .roof1 {
    width: 55px;
    height: 178px;
    top: 1px;
    left: 306px;
}

.structure-foundation1 .roof7 {
    top: 212px;
    left: 142px;
    width: 109px;
    height: 38px;
}

.structure-foundation1 .roof8 {
    top: 212px;
    left: 0;
    width: 69px;
    height: 38px;
}

.structure-foundation1 .roof9 {
    top: 1px;
    left: 29px;
    width: 29px;
    height: 140px;
}

.structure-foundation1 .roof2 img{
    position: absolute;
    width: 108px;
    height: 48px;
    left: 252px;
    top: 131px;
}

.structure-foundation1 .roof3 img{
    position: absolute;
    top: 198px;
    left: 119px;
    width: 74px;
    height: 30px;
    transform: rotate(90deg);
    z-index: 40;
}

.structure-foundation1 .roof4 img{
    position: absolute;
    top: 197px;
    left: 200px;
    width: 74px;
    height: 30px;
    transform: rotate(-90deg);
}

.structure-foundation1 .roof5 img{
    position: absolute;
    top: 198px;
    left: 18px;
    width: 72px;
    height: 30px;
    transform: rotate(-90deg);
}

.structure-foundation1 .roof6 img{
    position: absolute;
    top: 112px;
    left: 1px;
    width: 57px;
    height: 30px;
}


.road-markings-lane1-1,
.road-markings-lane1-2,
.road-markings-lane2-1,
.road-markings-lane2-2,
.road-markings-lane3-1,
.road-markings-lane3-2,
.road-markings-lane4-1,
.road-markings-lane4-2 {
    position: absolute;
    background-color: #F0BB00;
    border: none;
}



/* //* Horizontal Markings */
.road-markings-lane1-1 {
    width: 347px;
    height:2px;
    left: 0.99px;
    bottom: -5px;
    
}

.road-markings-lane1-2 {
    left: 635px;
    height: 2px;
    width: 352px;
    bottom: -5px;
}

.road-markings-lane2-1 {
    width: 347px;
    height:1.2px;
    left: 0.99px;
    top: -5px;
}

.road-markings-lane2-2 {
    left: 635px;
    height: 1.2px;
    width: 352px;
    top: -5px;
}

/* * Vertical Markings */
.road-markings-lane3-1 {
    height: 209px;
    width: 2px;
    transform: rotate(0deg);
    right: 10px;
    top: -10px;
}


.road-markings-lane3-2 {
    height: 208px;
    width: 2px;
    transform: rotate(0deg);
    bottom: -9px;
    right: 10px;
}

.road-markings-lane4-1 {
    top: -10px;
    height: 209px;
    width: 2px;
}

.road-markings-lane4-2 {
    height: 209px;
    width: 2px;
    bottom: -10px;
}

.structure-foundation1 .tree7,
.structure-foundation1 .tree8,
.structure-foundation1 .tree9,
.structure-foundation1 .tree10,
.structure-foundation1 .tree11 {
    position: absolute;
    background-color: #7ECB6B;
    border-radius: 50%;
}

.structure-foundation1 .garden1,
.structure-foundation1 .garden2 {
    position: absolute;
    background-color: #D2E7A4;
}

.structure-foundation1 .building1 {
    width: 57px;
    height: 141px;
    top: 0;
    left: 1px;
}

.structure-foundation1 .building2 {
    width: 69px;
    height: 74px;
    top: 175px;
}

.structure-foundation1 .building3 {
    width: 110px;
    height: 74px;
    top: 175px;
    left: 141px;
}

.structure-foundation1 .building4 {
    width: 110px;
    height: 178px;
    top: 0;
    left: 251px;
}

.structure-foundation1 .garden1 {
    width: 86px;
    height: 152px;
    top: 0;
    left: 141px;
}

.structure-foundation1 .garden2 {
    width: 85px;
    height: 27px;
    top: 207px;
    left: 276px;
}

.structure-foundation1 .tree1 {
    top: 60px;
    left: 137px;
}

.structure-foundation1 .tree2 {
    top: 26px;
    left: 189px;
}

.structure-foundation1 .tree3 {
    top: 47px;
    left: 197px;
}

.structure-foundation1 .tree4 {
    top: 190px;
    left: 306px;
}

.structure-foundation1 .tree5 {
    top: 199px;
    left: 284px;
}

.structure-foundation1 .tree6 {
    top: 212px;
    left: 295px;
}

.structure-foundation1 .tree7 {
    top: 109px;
    left: 168px;
    width: 34px;
    height: 34px;
}

.structure-foundation1 .tree8 {
    top: 120px;
    left: 185px;
    width: 34px;
    height: 34px;
}

.structure-foundation1 .tree9 {
    width: 23px;
    height: 14px;
    top: 113px;
    left: 195px;
}

.structure-foundation1 .tree10 {
    width: 15px;
    height: 13px;
    top: 127px;
    left: 208px;
}

.structure-foundation1 .tree11 {
    top: 146px;
    left: 196px;
    width: 20px;
    height: 17px;
}

.structure-foundation2 {
    border-radius: 0 0 0 15px;
    top: 0;
    right: 0;
}

.structure-foundation2 .building1,
.structure-foundation2 .building2,
.structure-foundation2 .building3,
.structure-foundation2 .building4,
.structure-foundation2 .building5,
.structure-foundation2 .building6 {
    position: absolute;
}

.structure-foundation2 .garden1,
.structure-foundation2 .garden2 {
    position: absolute;
    background-color: #D2E7A4;
}

.structure-foundation2 .tree1,
.structure-foundation2 .tree2,
.structure-foundation2 .tree3,
.structure-foundation2 .tree4,
.structure-foundation2 .tree5,
.structure-foundation2 .tree6 {
    position: absolute;
    background-color: #7ECB6B;
    border-radius: 50%;
}

.structure-foundation2 .parked-vehicle1 {
    position: absolute;
}

.structure-foundation2 .delivery-package1,
.structure-foundation2 .delivery-package2,
.structure-foundation2 .delivery-package3,
.structure-foundation2 .delivery-package4,
.structure-foundation2 .delivery-package5 {
    position: absolute;
    background-color: #C7903E;
    width: 8px;
    height: 8px;
}

.structure-foundation2 .stair1,
.structure-foundation2 .stair2,
.structure-foundation2 .stair3 {
    position: absolute;
    background-color: #9F9A9A;
}

.structure-foundation2 .roof1,
.structure-foundation2 .roof2,
.structure-foundation2 .roof3,
.structure-foundation2 .roof4,
.structure-foundation2 .roof5,
.structure-foundation2 .roof6 {
    position: absolute;
}

.structure-foundation2 .roof1 {
    width: 40px;
    height: 196px;
    left: 349px;
    top: 11px;
    background-color: #937e7e;
}

.structure-foundation2 .roof2 img {
    position: absolute;
    width: 40px;
    height: 17px;
    left: 349px;
    top: 11px;
    transform: rotate(180deg);
}

.structure-foundation2 .roof4 img {
    position: absolute;
    width: 40px;
    height: 17px;
    top: 190px;
    left: 349px;
}

.structure-foundation2 .roof5 img {
    position: absolute;
    top: 45px;
    left: 16px;
    height: 32px;
    width: 75px;
}

.structure-foundation2 .roof6 {
    top: 0;
    left: 54px;
    width: 37px;
    height: 77px;
    background-color: #a34242;
}

.structure-foundation2 .billboard {
    position: absolute;
    top: 160px;
    left: 65.87px;
    height: 12px;
    width: 101px;
    background-color: #D9D9D9;
    transform: rotate(44deg);
}

.structure-foundation2 .roof3 {
    background-color: #735b5b;
    top: 11px;
    left: 369px;
    width: 20px;
    height: 196px;
}

.structure-foundation2 .stair1 {
    top: 160px;
    left: 328px;
    width: 12px;
    height: 20px;
}

.structure-foundation2 .stair2 {
    top: 185px;
    left: 328px;
    width: 12px;
    height: 20px;
}

.structure-foundation2 .stair3 {
    top: 209px;
    left: 328px;
    width: 12px;
    height: 15px;
}

.structure-foundation2 .delivery-package1 {
    top: 6px;
    left: 259px;
}

.structure-foundation2 .delivery-package2 {
    top: 5.37px;
    left: 269.76px;
    transform: rotate(-10deg);
}

.structure-foundation2 .delivery-package3 {
    top: 15px;
    left: 269px;
}

.structure-foundation2 .delivery-package4 {
    top: 24px;
    left: 282px;
}

.structure-foundation2 .delivery-package5 {
    top: 18.1px;
    left: 293.17px;
    transform: rotate(-15deg);
}

.structure-foundation2 .parked-vehicle1 img{
    position: absolute;
    height: 121px;
    top: 35px;
    left: 260px;
    transform: rotate(180deg);
}

.structure-foundation2 .tree1 {
    width: 34px;
    height: 34px;
    top: 94px;
    left: 8px;
}

.structure-foundation2 .tree2 {
    width: 26px;
    height: 25px;
    top: 118px;
    left: 16px;
}

.structure-foundation2 .tree3 {
    width: 34px;
    height: 34px;
    top: 0;
    left: 111px;
}

.structure-foundation2 .tree4 {
    width: 23px;
    height: 23px;
    top: 11px;
    left: 135px;
}

.structure-foundation2 .tree5 {
    top: 23px;
    left: 144px;
    width: 27px;
    height: 28px;
}

.structure-foundation2 .tree6 {
    top: 13px;
    left: 147px;
    width: 24px;
    height: 17px;
}

.structure-foundation2 .garden1 {
    width: 69px;
    height: 33px;
    top: 1px;
    left: 175px;
}

.structure-foundation2 .garden2 {
    width: 32px;
    height: 107px;
    left: 216px;
    top: 0;
}

.structure-foundation2 .building1 {
    background-color: #7D6AA7;
    top: 53px;
    left: 47px;
    width: 145px;
    height: 163px;
}

.structure-foundation2 .building2 {
    background-color: #D9D9D9;
    top: 53px;
    left: 47px;
    width: 59px;
    height: 54px;
}

.structure-foundation2 .building3 {
    background-color: #903939;
    top: 0;
    left: 16px;
    height: 77px;
    width: 75px;
}

.structure-foundation2 .building4 {
    background-color: #405499;
    top: 123px;
    left: 211px;
    width: 37px;
    height: 93px;
}

.structure-foundation2 .building5 {
    background-color: #2E69C0;
    width: 71px;
    height: 155px;
    top: 5px;
    left: 318px;
}

.structure-foundation2 .building6 {
    background-color: #2E69C0;
    width: 49px;
    height: 68px;
    top: 156px;
    left: 340px;
}
.structure-foundation3 .building1,
.structure-foundation3 .building2 {
    position: absolute;
    background-color: #569C6A
}

.structure-foundation3 .building3,
.structure-foundation3 .building4 {
    position: absolute;
    background-color: #C8335F;
}

.structure-foundation3 .garden1,
.structure-foundation3 .garden2 {
    position: absolute;
    background-color: #D2E7A4;
}

.structure-foundation3 .tree1,
.structure-foundation3 .tree2,
.structure-foundation3 .tree3,
.structure-foundation3 .tree4,
.structure-foundation3 .tree5,
.structure-foundation3 .tree6,
.structure-foundation3 .tree7 {
    background-color: #7ECB6B;
    position: absolute;
    border-radius: 50%;
}

.structure-foundation3 .roof1,
.structure-foundation3 .roof2,
.structure-foundation3 .roof3,
.structure-foundation3 .roof4 {
    position: absolute;
}

.structure-foundation3 .parked-vehicle1,
.structure-foundation3 .parked-vehicle2 {
    position: absolute;
}

.structure-foundation3 .parked-vehicle1 img {
    position: absolute;
    top: 92px;
    left: 4px;
    height: 50px;
}

.structure-foundation3 .parked-vehicle2 img {
    position: absolute;
    height: 50px;
    left: 40px;
    top: 100px;
    transform: rotate(180deg);
}

.structure-foundation3 .roof1 {
    background-color: #4b7958;
    width: 112px;
    height: 134px;
    top: 105px;
    left: 259px;
}

.structure-foundation3 .roof2 img {
    width: 112px;
    height: 31px;
    top: 105px;
    left: 260px;
    position: absolute;
    transform: rotate(180deg);
}

.structure-foundation3 .roof3 {
    background-color: #3a5f44;
    height: 134px;
    width: 54px;
    top: 106px;
    left: 317px;
}

.structure-foundation3 .roof4 img {
    width: 112px;
    height: 31px;
    top: 208px;
    left: 259px;
    position: absolute;
}

.structure-foundation3 .billboard img{
    top: 186px;
    left: 12px;
    width: 80px;
    position: absolute;
    height: 35px;
}

.structure-foundation3 .tree1 {
    top: 51px;
    left: 81px;
    height: 23px;
    width: 21px;
}

.structure-foundation3 .tree2 {
    top: 51px;
    width: 34px;
    height: 34px;
    left: 92px;
}

.structure-foundation3 .tree3 {
    top: 32px;
    left: 250px;
    width: 34px;
    height: 34px;
}

.structure-foundation3 .tree4 {
    width: 18px;
    height: 15px;
    top: 38px;
    left: 322px;
}

.structure-foundation3 .tree5 {
    top: 46px;
    left: 328px;
    width: 18px;
    height: 15px;
}

.structure-foundation3 .tree6 {
    top: 32px;
    left: 334px;
    width: 22px;
    height: 19px;
}

.structure-foundation3 .tree7 {
    top: 35px;
    left: 349px;
    width: 15px;
    height: 14px;
}

.structure-foundation3 .building1 {
    width: 145px;
    height: 163px;
    top: 86px;
    left: 243px;
    border-radius: 10px 30px 0 0;
}

.structure-foundation3 .building2 {
    width: 90px;
    height: 215px;
    top: 34px;
    left: 140px;
    border-radius: 10px 30px 0 0;
}

.structure-foundation3 .building3 {
    width: 46px;
    height: 161px;
    top: 88px;
    left: 69px;
    border-radius: 10px 10px 0 0;
}

.structure-foundation3 .building4 {
    width: 69px;
    height: 85px;
    top: 164px;
    left: 0;
}

.structure-foundation3 .garden1 {
    width: 145px;
    height: 27px;
    top: 34px;
    left: 243px;
}

.structure-foundation3 .garden2 {
    width: 46px;
    height: 27px;
    top: 50px;
    left: 69px;
}

.structure-foundation3 {
    border-radius: 0 15px 0 0;
    bottom: 0;
    left: 0;
}

.structure-foundation4 {
    border-radius: 15px 0 0 0;
    bottom: 0;
    right: 0;
}

.structure-foundation4 .building1,
.structure-foundation4 .building2,
.structure-foundation4 .building3,
.structure-foundation4 .building4,
.structure-foundation4 .building5 {
    position: absolute;
}

.structure-foundation4 .tree1,
.structure-foundation4 .tree2,
.structure-foundation4 .tree3,
.structure-foundation4 .tree4,
.structure-foundation4 .tree5 {
        position: absolute;
        background-color: #7ECB6B;
        border-radius: 50%;
}

.structure-foundation4 .tree1 {
    top: 11px;
    left: 26px;
    width: 34px;
    height: 34px;
}

.structure-foundation4 .tree2 {
    top: 34px;
    left: 43px;
    width: 26px;
    height: 25px;
}

.structure-foundation4 .tree3 {
    top: 34px;
    width: 14px;
    height: 14px;
    left: 24px;
}

.structure-foundation4 .tree4 {
    top: 40px;
    left: 31px;
    width: 17px;
    height: 22px;
}

.structure-foundation4 .tree5 {
    top: 78px;
    left: 16px;
    width: 34px;
    height: 34px;
}

.structure-foundation4 .tall-billboard {
    position: absolute;
    top: 197px;
    left: 26px;
    width: 23px;
    height: 10px;
    background-color: #463333;
}

.structure-foundation4 .garden1 {
    position: absolute;
    background-color: #D2E7A4;
    top: 21px;
    height: 204px;
    left: 16px;
    width: 44px;
}

.structure-foundation4 .billboard img {
    top: 51px;
    left: 331px;
    width: 42.65px;
    height: 59.04px;
    position: absolute;
}


.structure-foundation4 .building1 {
    top: 13px;
    left: 301px;
    width: 88px;
    height: 177px;
    background-color: #826262;
}

.structure-foundation4 .building2 {
    top: 21px;
    left: 311px;
    width: 78px;
    height: 162px;
    background-color: #D9D9D9;
}

/* * OIL TANK */
.structure-foundation4 .building3 {
    top: 202px;
    height: 36px;
    width: 90px;
    left: 299px;
    border-radius: 35px 0 0 35px;
    border: 1px solid #871111;
}

.structure-foundation4 .building4 {
    top: 29px;
    left: 85px;
    height: 173px;
    width: 173px;
    background-color: #938a8a;
}

.structure-foundation4 .building5 {
    top: 49px;
    left: 104px;
    width: 135px;
    height: 133px;
    background-color: #d9d9d9;
}

.structure-foundation4 .signage {
    position: absolute;
    top: 42px;
    left: 77px;
    height: 39px;
    width: 8px;
    background-color: #e4c34b;
}

#lane1,
#lane2 {
    position: absolute;
    width: 981px;
    height: 70px;
    top: 281px;
    background-color: #A6A6A6;
}

.pedestrian-crossing1,
.pedestrian-crossing2 {
    position: absolute;
    width: 42px;
    height: 140px;
    background-color: #D9D9D9;
    top: -70px;
}

.pedestrian-crossing3,
.pedestrian-crossing4 {
    position: absolute;
    width: 140px;
    height: 42px;
    background-color: #D9D9D9;
    top: 207px;
}

.pedestrian-crossing1 {
    left: 347px;
}

.pedestrian-crossing2 {
    left: 593px;
}

.pedestrian-crossing3 {
    left: 0;
}

.pedestrian-crossing4 {
    left: 0;
}

#lane3 .pedestrian-crossing3 {
    top: 451px;
}

#lane4 .pedestrian-crossing4 {
    top: 451px;
}

#lane1 {
    position: relative;
    overflow: hidden;
}

#lane2 {
    position: relative;
    overflow: hidden;
}

#lane3,
#lane4 {
    position: absolute;
    width: 70px;
    height: 700px;
    background-color: #A6A6A6;
    top: 0;
}

#lane3 {
    overflow: hidden;
    left: 420px;
}

#lane4 {
    overflow: hidden;
    left: 490px;
}

.vehicle {
    position: absolute;
    /* transform: rotate(90deg); */
    z-index: 10;
}   

.car img {
    height: 50px;  
}

