@font-face {
    font-family: 'Digital 7';
    src: url(./digital-7/digital-7.ttf);
}

body {
    background-color: rgb(83, 68, 96);
}

main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    background-color: rgb(110, 85, 134);
    width: 500px;
    height: 700px;
}

.traffic-light {
    margin-top: 40px;
    background-color: #292C31;
    height: 400px;
    width: 180px;
    border: 15px solid rgb(206, 181, 36);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

#red-light,
#green-light,
#amber-light {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #0b1321;
}

/* ! RED LIGHT: ON */
.turn-on-red #red-light {
    background-color: rgba(255, 0, 0, 0.912);
    box-shadow: 0 0 30px 20px rgba(255, 0, 0, 0.8);
}

/* * GREEN LIGHT: ON */
.turn-on-green #green-light {
    background-color: #81dd12;
    box-shadow: 0 0 30px 20px rgba(129, 221, 18, 0.8);
}

/* TODO: AMBER LIGHT: ON*/
.turn-on-amber #amber-light {
    background-color: orangered;
    box-shadow: 0 0 30px 20px rgba(255, 69, 0, 0.8);;
}


/* ! RED LIGHT: OFF */
.turn-on-red #green-light {
    background-color: #395a11;
}

.turn-on-red #amber-light {
    background-color: rgb(95, 44, 25);
}

/* * GREEN LIGHT: OFF */
.turn-on-green #red-light {
    background-color: rgb(119, 29, 29);
}

.turn-on-green #amber-light {
    background-color: rgb(95, 44, 25);
}

/* TODO: AMBER LIGHT: OFF*/
.turn-on-amber #red-light {
    background-color: rgb(119, 29, 29);
}

.turn-on-amber #green-light {
    background-color: #395a11;
}


.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Digital 7';
    margin-top: 40px;
    width: 200px;
    height: 120px;
    background-color: #292C31;
    border-radius: 10px;
    border: 9px solid rgb(206, 181, 36);
    color: #395a11;
    font-size: 8.5rem;
}

#red-timer {
    color: rgb(223, 18, 18);
}

#amber-timer {
    color: orangered;
}

#green-timer {
    color: #81dd12;
}